*{
    box-sizing: border-box;
}
div{
    text-align: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
section{
    border: 1px solid black;
    padding: 1rem;
    flex-basis: 22%;
}
@media (max-width:1440px) {
    body{
        background-color: aquamarine;
    }
    section{
        flex-basis: 48%;
    }
}
@media (max-width:1024px) {
    body{
        background-color: rgb(194, 255, 235)    ;
    }
    section{
        flex-basis: 98%;
    }
}