body{
    background-color: antiquewhite !important;
    /* da prioridade */
    background-color: aqua;
}
main{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
div{
    padding: 2rem;
    border: 1px solid black;
    text-align: center;
    font-size: 3rem;
    filter: blur(5px);
    transition-property: all;
    transition-duration: 0.3s;
}
div:hover{
    filter: blur(0);
    border-radius: 2rem;
    box-shadow: 0 0 20px gray;
}
input{
    transition-property: all;
    transition-duration: 0.3s;
}
input:focus{
    background-color: burlywood;
}
input:hover{
    background-color: aquamarine;
}