ul > li{
    padding: 1rem;
    border: 1px solid black;
    list-style-type: none ;
    margin: 1rem 0 1rem 0;
}
ol > li{
    display: inline;
    position: relative;
}
ul{
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
    visibility: hidden;
}
ul > li:hover img{
    visibility: visible;
}
nav{
    display: inline-block;

}
li{
      list-style-type: none  
}