main{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 10rem 10rem 10rem 10rem ;
    grid-template-areas:
    "a b b e f"
    "a c c c f"
    "a d d d f"
    ;
}
section{
    border: 1px solid black;
    padding: 1rem;
    overflow: auto;
}
section.a{
    grid-area: a;
}
section.b{
    grid-area: b;
}
section.c{
    grid-area: c;
}
section.d{
    grid-area: d;
}
section.e{
    grid-area: e;
}
section.f{
    grid-area: f;
}