*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    /* alinhamento central horizontal */
    align-items: center;
    /* alinhamento central vertical */
    height: 100dvh;
    background-color: lightcyan;
    color: white;
    
}
section{
    border: 1px solid black;
    padding: 2rem;
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    background-color: rgb(111, 211, 211);
    box-shadow: 5px 5px 10px rgba(0, 70, 64, 0.5);
}