body {
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(255, 235, 206);
    border-radius: 20px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: all 0.3s ease;
}

a:hover {
    background-color: rgb(255, 210, 160);
    transform: scale(1.1);
    filter: brightness(1.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav {
    background-color: rgb(255, 250, 240);
    padding: 1rem;
    border-radius: 20px;
}
